/*

!.gitignore
!README.md

!starship.toml

!/nvim
/nvim/plugin

!/alacritty

!/tmux
/tmux/*
!/tmux/tmux.conf

!/yabai
/yabai/*
!/yabai/yabairc

!/skhd
/skhd/*
!/skhd/skhdrc
!/skhd/activate_chrome.sh

!/aerospace
/aerospace/*
!/aerospace/aerospace.toml

!/borders
/borders/*
!/borders/bordersrc

!/karabiner
/karabiner/automatic_backups/*

